@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Happy Monkey";
  src: url("../public//HappyMonkey-Regular.ttf");
}
html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Happy Monkey", system-ui;
}
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: #888 #f0f0f0;
}
